
.peekaboo-throbber {
  background-image: url('peekaboo.gif');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 18px;
}

div.peekaboo-container > div.error {
  margin: 1em 0;
}